@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}
[data-aos] {
  transform: none !important;
  opacity: 1 !important;
  transition: none !important;
}

body.aos-animate [data-aos] {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}
